/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#result-text {
  width: 100%;
  border: 2px solid green;
  padding: 20px;
  margin: 20px;
  min-height: 300px;
}

#skater-list {
    width: 200px;
}