$black:#000;
$grey:#DDD;
$white:#FFF;

#logo{
  width: 125px;
  height: 50px;
  padding: 0;
  float: left;
  border: none;
  outline: none;
}

.container-fluid {
  margin-top: 90px;
}

.navbar > div > ul >li {
  font-size: 22px;
  margin: 10px;

  &:hover :visited{
    color: #DDD;
  }
  
  &:hover a {
    text-decoration: none;
  }
}

.active a:visited {
  color: #D4AF37;
}
