#sidebar{
  height: 100%;
}

#search-entry{
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  border-color: rgba(82, 168, 236, 0.8);
  border-radius: 3px 0 0 3px;
  width: auto;
}

.btn{
  border-radius: 0 3px 3px 0;
padding: 4px 14px;
line-height: 14px;
font-size: 14px;
cursor: pointer;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
border: 1px solid #CCC;

}

.btn:hover {
  color: #333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position;
}

.widget {
  margin-bottom: 5px;
  border-bottom: 1px solid #AAA;
  display: block;
  min-height: 30px;
  padding: 5px 5px;
  h1 {
    font-size: 18px;
    color: #55B;
    padding: 0em 0 0 1.2em;
    margin: 0em 0.2em 0.4em 0.2em;
  }  
  h2 {
    font-size: 16px;
    color: #44A;
    padding: 0em 0 0 0.5em;
    margin: 0em 0.2em 0.4em 0.2em;
  }  
}

