body.green-skin
{
    background-image: image-url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #0c220c;

    .container-fluid {
	max-width: 1200px;

	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	box-shadow:rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
	box-sizing:border-box;
    }

    #sidebar {
	background-color: rgba(155, 165, 155, 0.9);
    }

    #content {
	background-color: rgba(155, 165, 155, 0.9);
    }

    .navbar {
	max-width: 1200px;
	margin: auto;
	height: 60px;
    }

    #sidebar {
	marging-left: 30px;
    }
}
