/* Styling tables */
table.sk8table {
  width: 100%;
  border-collapse:collapse;
  text-align:left;
  color: #606060;

  thead tr th {
    padding: 0.5em;
    background-color: #808080;
    background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#909090));
    background: -moz-linear-gradient(top, #606060, #909090);
    color: #dadada;
  }

  tbody{ 
    tr:nth-child(odd) {
      background-color: #fafafa;
    }
    tr:nth-child(even) {
      background-color: #efefef;
    }
  }
td {
           vertical-align:middle;
        }
}