<h1>Search results :</h1>

<p>Your search query  '<em><%= @query %></em>' returns <%= @nb_results %> result(s)

<table>
  <tr>
    <th>Relevance</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
      <% enable_weight(@results, @query).each_with_weight do |item, weight| %>
      <tr>
	<td><%= weight %> </td>
	<% if item.kind_of?(Country) then  %>
	<%= render :partial => "result_country", :locals=>{ :item => item } %>
	<% elsif item.kind_of?(City) then %>
	<%= render :partial => "result_city", :locals=>{ :item => item } %>
	<% elsif item.kind_of?(Skater) then %>
	<%= render :partial => "result_skater", :locals=>{ :item => item } %>
	<% else %>
	Not a Country ???
	<% end %>
      </tr>
      <% end %>
</table>
