<h1>Welcome to </em>Sk8tycoon.org</em></h1>
<p>There are actually <strong><%= @nb_skaters %></strong> skaters in 
<strong><%= @nb_cities %></strong> cities. <strong>xx</strong> 
managers are online.

<h1>Best skaters this week</h1>


<p> Please use the top menu to get inside the game.


<h1>Get your account today</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
