<h1>EngineResult viewer</h1>
<p>Here you can see the result of the engine</p>

<p>EngineResult id is</p>

<script>
  var json_result='<%= @json_result.html_safe %>';
</script>

<div class="row">
  <div class="col-xl-8 col-xl-auto">
    <div id="result-text"></div>
  </div>
  <div class="col-xl-4">
    Joueurs inscrits
    <ul id="skater-list">
    </ul>
  </div>
</div>


<button id="play-button" type="button" onClick="start();">Start</button>
