

<h1>Bots Adminstration</h1>

<div class="alert alert-success">
There is actually <strong><%= @bot_ratio %>%</strong> of bot skaters in the world.
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Country</th>
    <th></th>
    <th></th>
  </tr>

  <% @skaters.each do |s| %>
  <tr>
    <td><%= skater_name(s) %></td> 
    <td><%= s.sex %></td>
    <td><%= country_link(s.country_id) %></td>
  </tr>
  <% end %>

</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @skaters %>
  </div>
  <%= will_paginate @skaters, :container => false %>
</div>

<hr>
<%= form_tag(controller: "admin", action: "new_bots",
    method: "get") do %>

<%= label_tag(:q, "Number of bots:") %>
<%= number_field(:nb, :in, in: 10..100, step: 10, value: 10) %>
<br>
<%= submit_tag("Create") %>
<% end %>
  
