<h1>Countries administration</h1>
<h2><a name="without-population"></a>Countries without population</h2>
<p>There are actually <%= @no_population.size %> countries without 
    population (out of <%= @country_nb %> total countries).
    <br>
    We're only showing first 20 countries.</p>

<table class="sk8table">
  <thead>
  <tr><th>Name</th><th>Country code</th></tr>
  </thead>

<tbody>
<% @no_population.first(20).each do |country| %>
  <tr>
    <td><%= country_link(country) %></td> 
    <td><%= country.country_code %></td>
  </tr>
<% end %>
</tbody>
</table>


<h2><a name="without-city"></a>Countries without any city</h2>
<p>There are actually <%= @no_cities.size %> countries without 
    any city (out of <%= @country_nb %> total countries).
    <br>
    We're only showing first 20 countries.</p>

<table class="sk8table">
  <thead>
  <tr><th>Name</th><th>Country code</th></tr>
  </thead>

<tbody>
<% @no_cities.first(20).each do |country| %>
  <tr>
    <td><%= country_link(country) %></td> 
    <td><%= country.country_code %></td>
  </tr>
<% end %>
</tbody>
</table>

<h2><a name="without-first_names"></a>Countries without first_names</h2>
<p>There are actually <%= @no_fn.size %> countries without 
    any city (out of <%= @country_nb %> total countries).
    <br>
    We're only showing first 20 countries.</p>

<table class="sk8table">
  <thead>
  <tr><th>Name</th><th>Country code</th></tr>
  </thead>

<tbody>
<% @no_fn.first(20).each do |country| %>
  <tr>
    <td><%= country_link(country) %></td> 
    <td><%= country.country_code %></td>
  </tr>
<% end %>
</tbody>
</table>

<h2><a name="without-last_names"></a>Countries without last_names</h2>
<p>There are actually <%= @no_ln.size %> countries without 
    any city (out of <%= @country_nb %> total countries).
    <br>
    We're only showing first 20 countries.</p>

<table class="sk8table">
  <thead>
  <tr><th>Name</th><th>Country code</th></tr>
  </thead>

<tbody>
<% @no_ln.first(20).each do |country| %>
  <tr>
    <td><%= country_link(country) %></td> 
    <td><%= country.country_code %></td>
  </tr>
<% end %>
</tbody>
</table>
