<h1>EngineResult test</h1>

EngineResult is the result of a round of a competion, between 2 players.
It is partly saved in binary form using the Ruby Marshal module.

<h2>EngineResult list</h2>
<p>Found <%= @nb_results %> into the database.</p>

<table class="sk8table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Started</th>
    <th>Generated</th>
    <th>Engine version</th>
    <th>Runs #</th>
    <th>Ranking</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @results.each do |res| %>
  <tr>
    <td><%= res.id %></td>
    <td><%= res.started %></td>
    <td><%= res.generated %></td>
    <td>version <%= res.engine_version %></td>
    <td><%= res.runs %> </td>
    <td><%= res.ranking %> </td>
    <td><%= link_to "show",controller:"home", action:"result",id: res.id %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<h2>New EngineResult</h2>
This will find two random players, and make them battle.
<%= form_tag(controller: "admin", action: "new_engine_result",
    method: "get") do %>

  <%= label_tag(:q, "Number of players:") %>
  <%= number_field(:engine, :in, in: 2..48, step: 1, value: 2) %>
  <br>
<%= label_tag(:q, "Number of round:") %>
<%= number_field(:engine, :round, in: 1..10, step: 1, value: 5) %>
  <br>
  <%= submit_tag("Create") %>
<% end %>
