<h1>Mailer test</h1>
<p>Here you can send arbitrary mail to a user to test for mailer config.</p>


<%= form_tag(controller: "admin", action: "send_mail_test",
    method: "post") do %>

  <%= label_tag(:to, "To email:") %>
  <%= text_field_tag(:to) %>
  <br>
  <%= label_tag(:msg, "Content:") %>
  <%= text_area_tag(:msg, "Hi, mailer test from sk8tycoon", size: "24x6") %>
  <%= submit_tag("Send") %>

<% end %>
