%h1 Maintenance administration
%string Actually in maintenance mode :
%em= @actually
%table.sk8table
  %caption Maintenance records
  %thead 	
    %tr
      %th Id
      %th Comment
      %th Start
      %th Duration
      %th Actions
    %tbody
      - @maintenances.each do |main|
        %tr
          %td= main.id
          %td= main.comment
          %td= Time.at(main.start).to_s if main.start
          %td= distance_of_time_in_words(main.duration) if main.duration
          %td= link_to 'Delete',"/admin/delete_maintenance/#{main.id}", method: :post


%hr
%h2 Instant maintenance
= form_tag admin_add_instant_maintenance_path, :method => :post do
  %p Add an instant maintenance notice.
  %p= text_area_tag "Comment", ""
  = submit_tag "Submit"


%h2 Scheduled maintenance

= form_tag admin_add_scheduled_maintenance_path, :method => :post do
  %p Add a planified maintenance notice. Server time is
  %span= @now
  %p Start 
  = datetime_select("maintenance", "start")
  %p Duration (heures, minutes)
  = time_select("maintenance", "duration")
  %p= text_area_tag "Comment", ""
  = submit_tag "Submit"
