<h1>Season administration</h1>

<h2>Seasons list</h2>

<table class="sk8table">
  <thead>
    <tr>
      <th>Num</th>
      <th>Start epoch</th>
      <th>Action</th>
    </tr>
  </thead>

<tbody>
<% @seasons.first(20).each do |s| %>
  <tr>
    <td><%= s.num %></td> 
    <td><%= s.start %> ( <%= s.start_date %> )</td> 
    <td>
      <%= if s.start==0 then
	    link_to 'Start', controller: "admin", action: "start_season",
  	      id: s.id, method: :post
	  else
	    if s.current? then
  	  "Started"
	  else
	  "Finished"
	  end
	  end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>


<%= form_tag(controller: "admin", action: "new_season",
    method: "get") do %>
<%= submit_tag("Create new season") %>
<% end %>
