
<h1>Users Adminstration</h1>
<h2>All users</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Mail</th>
    <th>Grips</th>
    <th>Activated</th>
  </tr>

<% @users.each do |u| %>
  <tr>
    <td><%= u.name %></td> 
    <td><%= u.email %></td> 
    <td><%= u.grip %></td>
    <td><%= u.activated_str? %></td>
  </tr>
<% end %>
</table>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @users %>
  </div>
  <%= will_paginate @users, :container => false %>
</div>


<h2>Unactivated users</h2>

<%= @unactivated_users.count %> users are not yet activated.

<table>
  <tr>
    <th>Name</th>
    <th>Mail</th>
  </tr>

<% @unactivated_users.each do |u| %>
  <tr>
    <td><%= u.name %></td> 
    <td><%= u.email %></td> 
  </tr>
<% end %>
</table>
