<h1>Listing cities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Geoip</th>
    <th># Skaters</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.name %></td>
    <td><%= country_link(city.country_id) %></td>
    <td><%= city.geoip %></td>
    <td><%= city.nb_skaters %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City', new_city_path %>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @cities %>
  </div>
  <%= will_paginate @cities, :container => false %>
</div>
