<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Geoip:</b>
  <%= @city.geoip %>
</p>

<h1>Skaters here</h1>
<table>
<% @city.skaters.each do |s| %>
<tr>
  <td>
    <%= skater_name(s) %>
  </td>
</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
