<%= form_for(@skater) do |f| %>
  <% if @skater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skater.errors.count, "error") %> prohibited this skater from being saved:</h2>

      <ul>
      <% @skater.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :hometown %><br />
    <%= f.select(:hometown_id, @cities.map{|u| [u.name, u.id]}) %>
  </div>
  <div class="field">
    <%= f.label :bio_text %><br />
    <%= f.text_area :bio_text, :size => "30x10"%>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
  <h2>Stats.</h2>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.number_field :street %>
  </div>
  <div class="field">
    <%= f.label :vert %><br />
    <%= f.number_field :vert %>
  </div>
  <div class="field">
    <%= f.label :freestyle %><br />
    <%= f.number_field :freestyle %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
