<h1>Listing <%=@skaters.size %> skaters</h1>

<table class="sk8table">
  <caption>Skater list</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nationality</th>
      <th>City</th>
      <th>Age</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @skaters.each do |skater| %>
  <tr>
    <td><%= skater_name(skater) %></td>
    <th><%= country_link(skater.country_id) %></th>
    <th><%= city_link(skater.hometown_id) %></th>
    <td><%= skater.age %></td>
    <td><%= link_to 'Show', skater %></td>
    <td><%= link_to 'Edit', edit_skater_path(skater) %></td>
    <td><%= link_to 'Destroy', skater, method: :delete, data:
	        { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @skaters %>
  </div>
  <%= will_paginate @skaters, :container => false %>
</div>

<br />

<%= link_to 'New Skater', new_skater_path %>
