<p id="notice"><%= notice %></p>

<h1><%= @skater.first_name %>  <%= @skater.last_name %></h1>
from <%= @skater.hometown %>, <small><%= @skater.age %> years old</small>


<%= sanitize(textilize(@skater.bio_text)) %>

<h1>Stats.</h1>
<h2>Surfaces :</h2>
<table>
  <tr>
    <td>street</td>
    <td>
      <canvas id="skaterStatStreet" width="123px" height="17px"></canvas>
      <script>draw_stats('skaterStatStreet', <%= @skater.street %>);</script>
    </td>
  </tr>
  <tr>
    <td>Vert.</td>
    <td>
      <canvas id="skaterStatVert" width="123px" height="17px"></canvas>
      <script>draw_stats('skaterStatVert', <%= @skater.vert %>);</script>
    </td>
  </tr>
  <tr>
    <td>Freestyle</td>
    <td>
      <canvas id="skaterStatFree" width="123px" height="17px"></canvas>
      <script>draw_stats('skaterStatFree', <%= @skater.freestyle %>);</script>
    </td>
  </tr>
</p>
</table>

<% if @skater.user.nil? %>

<%=
  form_for(:skater, url: "/skater/hire/#{@skater.id}") do |f|
    grip_button(10, "Hire me now!")
  end
%>
    
<% else %>
  <% if @skater.user == current_user %>
  <div class='owner'>This skater belongs to you</div>.

  <%=
    form_for(:skater, url: "/skater/dismiss/#{@skater.id}") do |f|
    f.submit("Dismiss!", class: "btn btn-primary")
    end
    %>

  
  <% else %>
<div class='owner'>This skater belongs to <%= @skater.user.name %></div>.
  <% end %>
<% end %>

<%= link_to 'Edit', edit_skater_path(@skater) %> |
<%= link_to 'Back', skaters_path %>

