<h1>Listing countries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%= country_link(country) %></td> 
    <td><%= country.country_code %></td>
    <td><%= link_to 'Show', country %></td>
    <td><%= link_to 'Edit', edit_country_path(country) %></td>
    <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Country', new_country_path %>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @countries %>
  </div>
  <%= will_paginate @countries, :container => false %>
</div>
