<p id="notice"><%= notice %></p>

<%= image_tag("#{@country.country_code}_big.png", :alt => 'Afg...') %>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Country code:</b>
  <%= @country.country_code %>
</p>

<p>
<% if @country.population_set? %>
  <b>Population:</b>
  <%= @country.population_str %>
    (as of   <%= @country.population_year %>)
<% else %>
  <b>No population given</b>
<% end %>
</p>

<p>
<% if @country.hdi_set? %>
  <b><acronym title="Human Development Index">HDI code:</acronym></b>
  <%= @country.hdi %>
    (as of   <%= @country.hdi_year %>)
<% else %>
  <b>No <acronym title="Human Development Index">HDI</acronym> given</b>
<% end %>
</p>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
