<h1>Sk8tycoon</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Sk8tycoon! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
    email: @user.email) %>
