<%= form_with(model: trick, local: true) do |form| %>
  <% if trick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trick.errors.count, "error") %> prohibited this trick from being saved:</h2>

      <ul>
      <% trick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :trick_name %>
  </div>

  <div class="field">
    <%= form.label :diff %>
    <%= form.number_field :diff, id: :trick_diff %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :trick_street %>
  </div>

  <div class="field">
    <%= form.label :vert %>
    <%= form.text_field :vert, id: :trick_vert %>
  </div>

  <div class="field">
    <%= form.label :freestyle %>
    <%= form.text_field :freestyle, id: :trick_freestyle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
