<p id="notice"><%= notice %></p>

<h1>Tricks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Diff</th>
      <th>Street</th>
      <th>Vert</th>
      <th>Freestyle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tricks.each do |trick| %>
      <tr>
        <td><%= trick.name %></td>
        <td><%= trick.diff %></td>
        <td><%= trick.street %></td>
        <td><%= trick.vert %></td>
        <td><%= trick.freestyle %></td>
        <td><%= link_to 'Show', trick %></td>
        <td><%= link_to 'Edit', edit_trick_path(trick) %></td>
        <td><%= link_to 'Destroy', trick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @tricks %>
  </div>
  <%= will_paginate @tricks, :container => false %>
</div>


<%= link_to 'New Trick', new_trick_path %>
