<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trick.name %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @trick.diff %>
</p>

<p>
  <strong>Street:</strong>
  <%= @trick.street %>
</p>

<p>
  <strong>Vert:</strong>
  <%= @trick.vert %>
</p>

<p>
  <strong>Freestyle:</strong>
  <%= @trick.freestyle %>
</p>

<%= link_to 'Edit', edit_trick_path(@trick) %> |
<%= link_to 'Back', tricks_path %>
