- if in_maintenance()
  %div{class: "alert alert-warning", role: "alert", id: "in-maintenance"}
    %h1 Maintenance mode
    %p Sk8tycoon is actually in maintenance. Please come back later.
    %p
      Administrator message is
      «
      %em= get_maintenance().comment
      »
