<nav  class="navbar fixed-top navbar-dark bg-dark bg-faded navbar-expand-md">
  <a href="/" class="navbar-brand">
<!--    <img id="logo" src="/assets/logo.png" /> -->
  <%= image_tag("logo.png", border: 0) %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
	  data-target="#navbarSupportedContent"
	  aria-controls="navbarSupportedContent" aria-expanded="false"
	  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= menu_item(@active_menu, "Skaters",   skaters_path) %>
      <%= menu_item(@active_menu, "Cities",    cities_path) %>
      <%= menu_item(@active_menu, "Countries", countries_path) %>
      <%= menu_item(@active_menu, "Tricks",    tricks_path) %>
    </ul>
    
    <% if is_admin? %>
      <ul class="navbar-nav ml-auto">
        <%= menu_item(@active_menu, "Admin", "/admin") %>
      </ul>
    <% end %>

    
    <% if is_admin? %>
    <!-- For test purpose only -->
    <%= form_tag("/search/result", :method => "get",
         class: "form-inline my-2 my-lg-0") do %>
    <%= text_field_tag :q ,'' , {:id => "search-entry" ,
    class: "form-control mr-sm-2", type: "search",
    placeholder: "Search"} %>
    <%= button_to "Search", {:controller => 'search',:action => "result"}, 
    {class: "btn btn-outline-success my-2 my-sm-0"} %> 
    <% end %>
    <% end %>

      
  </div>
</nav>
