<!DOCTYPE html>
<html>
<head>
  <title>Sk8tycoon</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
	<![endif]-->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= favicon_link_tag image_path("logo.ico") %>
</head>
<body class="<%= skin_class() %>">
  <select id="skin"></select>
  <%= render :partial => 'layouts/menu' %>
  <main class="container-fluid">
    <% if notice %>
    <%= notice %>
    <% end %>
	
    <% if alert %>
    <%= alert %>
    <% end %>

    <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>

      
  <div class="row">
    <div class="col-9" id="content">
      <% if not logged_in? then %>
        <%= render :partial => 'layouts/maintenance' %>
        <%= yield %>
        </div>
        <div class="col-3" id="sidebar">
        <% if logged_in? %>
          <%= render :partial => 'widgets/me' %>
          <%= render :partial => 'widgets/admin' %>
        <% else %>
          <%= render :partial => 'widgets/login' %>
        <% end %>
  	</div>
      <% else %>
	<%= render :partial => 'layouts/maintenance' %>
        <%= yield %>
        </div> <!-- col-8 -->
        <div class="col-3" id="sidebar">
          <%= render :partial => 'widgets/season' %>

          <% if logged_in? %>
            <%= render :partial => 'widgets/me' %>
          <% else %>
            <%= render :partial => 'widgets/login' %>
          <% end %>

          <% if is_admin? %>
            <%= render :partial => 'widgets/admin' %>
          <% end %>
        <% end %>
    </div><!-- sidebar -->  
  </div> <!-- row -->
    <% if is_admin? %>
    <%= debug(params) if Rails.env.development? %>
    <% end %>
</main><!-- container -->
<footer class="fixed-bottom footer">
  <p>Copyright (C) 2012 - 2019 Jérôme Pasquier <em>sk8tycoon.org</em>
    is Free Software licensed under AGPL &mdash; <a href="https://gitlab.com/solebull/sk8tycoon">https://gitlab.com/solebull/sk8tycoon</a></p>
</footer>
</body>
</html>
