<div class="widget">
  <h1>Administration menu</h1>
    <ul>
      <li>
	<%= link_to("Administration main page", controller: 'admin') %>
      </li>
    </ul>
    <h1>Country Administration</h1>
    <ul>
      <li>
	<%= link_to("Countries without population", controller: 'admin', 
	action: "country", anchor: "without-population") %></li>
      <li>
	<%= link_to("Countries without city", controller: 'admin', 
	action: "country", anchor: "without-city") %></li>
    </ul>
    <h1>Miscelaneous</h1>
    <ul>
      <li>
	<%= link_to("Engine test", controller: 'admin',
	    action: "engine") %></li>
      <li>
	<%= link_to("Season administration", controller: "admin",
	    action: "season") %></li>
      <li>
	<%= link_to("Bot administration", controller: "admin",
	    action: "bot") %></li>

      <li>
	<%= link_to("Users administration", controller: "admin",
	    action: "user") %></li>

      <li><%= link_to("Mailer test", admin_mailer_test_path) %></li>
      <li><%= link_to("Maintenance", admin_maintenance_path) %></li>
    </ul>
</div><!-- widget -->
