<div class="widget">
  <h1>Me</h1>

  <p>You have <%= current_user.grip %> grips.
  
  <li><%= link_to "Profile", current_user %></li>
  <li><%= link_to "Settings", '#' %></li>
  <li><%= link_to "Log out", logout_path, method: :delete %></li>
  <%= link_to "Profile", current_user %>

  <h1>My Skaters</h1>

  <% if current_user.skaters.empty? %>
  <div class="alert alert-primary" role="alert">
    You don't have any skater. Go to
    <%= link_to "Skaters list", skaters_path %>
    to hire some.
  </div>
  <% else %>
  <table>
    <tr><th>Skater name</th><th>Nationality</th></tr>
    <% current_user.skaters.each do |s| %>
    <tr>
      <td><%= skater_name(s, false) %> </td>
      <td><%= country_link(s.country_id) %> </td>
    </tr>
    <% end %>
  </table>
<% end %>
  
</div><!-- widget -->
<div class="widget">
  
  <h1>My network</h1>
  This is second widget that contains a table :
</div><!-- widget -->
