<div class="widget">
  <% if Season.actual.nil? then %>
  <h1>Season x</h1>
  <div class="alert alert-danger" role="alert">
    <%= Season.seed_error %>
  </div>
  <% else %>
    <h1>Season <%= Season.actual.num %></h1>
    <p>Week : <span id="season-week"></span><br>
    Day :  <span id="season-day"></span><br>
    Hour : <span id="season-hour"></span>
      <script>season_widget(<%= Season.actual.start %>);</script>
  <% end %>

</div><!-- widget -->
